{% extends 'user_profile/base.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong>Success...!</strong> {{message}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endfor%}
{% endif %}
{% if boards %}
{% for board in boards %}
    <div class="card my-2">
        <h5 class="card-header">{{board.manufacturer_name}}</h5>
        <div class="card-body">
            <h5 class="card-title">{{board.name}}</h5>
            <p class="card-text">ID: {{board.pk}}</p>
            <p class="card-text">Identity: {{board.board_identity}}</p>
            <p class="card-text">{{board.desc}}</p>
            <p class="card-text">{{board.last_updated}}</p>
            <a href="{% url 'buttons' board.board_identity %}" class="btn btn-primary">Check Status</a>
        </div>
    </div>
{% endfor %}
{% else %}
<h1>You have no boards. Please contact Owner</h1>
{% endif %}

{% endblock %}